/** CSS STYLE **/

:root {
    --white: #fff;
    --transparent-whie: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --dark-main: #42413c;
    --dark: #2a2626;
    --transparent-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

@font-face {
    font-family: 'Neucha';

    src: url('../fonts/Neucha/Neucha-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;

    src: url('../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;

    src: url('../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf');
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: var(--dark);
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;

    font-family: 'Neucha', sans-serif;
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

a {
    text-decoration: none;
}

.btn {
    display: block;

    box-sizing: border-box;
    width: 148px;
    height: 49px;
    padding: 12px 24px;
}

.btn-orange {
    font-weight: bold;
    color: var(--white);

    text-transform: uppercase;

    background-color: var(--main);
}

.wrapper {
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-bottom: 100px;

    text-align: center;
}

header::before {
    position: absolute;
    top: 0;
    left: 560px;

    display: block;

    width: 1440px;
    height: 95%;

    content: '';

    background-image: url('../../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .1;
}

.header-wrapper {
position: relative;
}

header {
    background-color: var(--light);
}

.header_image {
    position: absolute;
    top:55px;
    right: 455px;
    z-index: 1;
}

.header_title {
    margin-bottom: 200px;
    position: relative;

    font-weight: 400;

    text-align: left;
    z-index: 2;
}

.header_title-orange {
    color: var(--main);
}

.header_text-wrapper {
    text-align: left;

    column-count: 2;
    column-gap: 30px;
}

.header_first-paragraph {
    margin-bottom: 60px;
}

.header_second-paragraph {
    break-inside: avoid;
    margin-bottom: 14px;
}

.header_third-paragraph {
    margin-bottom: 38px;
}